---
const { icon, title, link, url } = Astro.props;
---

<div class="card">
    <a href={url} class="card-link" target="_blank" rel="noopener noreferrer">
        <div class="card-icon" set:html={icon} />
        <h3 class="card-title">{title}</h3>
        <p class="card-text">{link}</p>
    </a>
</div>

<style>
    .card {
        background-color: #fff;
        border-radius: 0.5rem;
        border: 1px solid var(--light-grey-color);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        transition:
            transform 0.2s ease,
            box-shadow 0.2s ease,
            border-color 0.2s ease;
    }

    .card-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.1rem;
        text-decoration: none;
        color: var(--primary-text);
        transition: color 0.25s ease;
    }

    /* Efecto Hover */
    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
    }

    .card:hover .card-link {
        color: var(--green-color);
    }

    .card:hover .card-icon svg {
        fill: var(--green-color);
    }

    .card-title {
        font-size: clamp(1rem, 2vw, 1.125rem);
        font-weight: 500;
        color:var(--primary-text);
        margin: 0.5rem 0 0;
    }

    .card-text {
        font-size: clamp(0.8rem, 1.5vw, 0.875rem);
        color: var(--secondary-text);
        margin: 0.25rem 0 0 0;
        word-break: break-word;
    }
</style>
