:root {

    /*Colors*/
    --green-color: #00cc22;
    --light-grey-color: #e5e7eb;
    --pastel-green-light-color: #dcfce7;
    
    /*Background colors*/
    --white-background: #ffffff;
    --grey-light-background: #f5f5f5;

    /*Text colors*/
    --primary-text: #212121;
    --secondary-text: #737373;
}